{% extends 'base.twig' %}

{% block subtitle %}- Appartiene{% endblock %}

{% block content %}
	<a href="{{ app.urlFor("AppartieneAdd") }}">Aggiungi un appartiene</a></br>
	{% if appartiene %}
		<table border="1px">
			<thead>
				<tr>
					<th>Prodotto</th>
					<th>Pizzeria</th>
				</tr>
			</thead>
			<tbody>
				{% for appartieneSingle in appartiene %}
					<tr>
						<td>{{ appartieneSingle.Nome_Pr }}</td>
						<td><a href="{{ app.urlFor('Pizzeria', {'id': appartieneSingle.IDPizzeria}) }}">{{ appartieneSingle.Nome_Pizz }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		Nessun appartiene presente.
	{% endif %}
{% endblock %}