{% extends 'base.twig' %}

{% block subtitle %}- Clienti{% endblock %}

{% block content %}
	<a href="{{ app.urlFor("CompostodaAdd") }}">Aggiungi un composto da</a></br>
	{% if prodotti %}
		<table border="1px">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Ingredienti</th>
				</tr>
			</thead>
			<tbody>
				{% for prodotto in prodotti %}
					<tr>
						<td>{{ prodotto.Nome_Pr }}</td>
						{% set ingredienti = prodotto.ingredienti().find_many() %}
						<td>
						{% if ingredienti %}
							{% for ingrediente in ingredienti %}
								{{ ingrediente.Nome_Ing }}
								{% if loop.last == false %}
								,
								{% endif %}
							{% endfor %}
							
						{% else %}
							 
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		Nessun composto da trovato.
	{% endif %}
{% endblock %}