{% set autori = {
	'Matteo Calò' : "https://github.com/Wanted92",
	'Davide Pastore': "http://it.linkedin.com/pub/davide-pastore/47/1b8/927",
	'Alessandro Pendinelli': "https://github.com/pendy03"
} %}
{% set softwareUtilizzati = {
	'PHP' : "http://php.net/",
	'Slim Framework': "http://www.slimframework.com/",
	'Twig': "http://twig.sensiolabs.org/",
	'Idiorm e Paris': "http://j4mie.github.io/idiormandparis/",
	'HttpFul': "http://phphttpclient.com/"
} %}
Sito sviluppato da:
<ul>
	{% for nome,autore in autori%}
		<li><a href={{ autore }} target="_blank">{{ nome|raw }}</a></li>
	{% endfor %}
</ul>

utilizzando:
<ul>
	{% for key,software in softwareUtilizzati%}
		<li><a href={{ software }} target="_blank">{{ key }}</a></li>
	{% endfor %}
</ul>
Codice sorgente visualizzabile <a href="https://github.com/JCPP/DBPizz" target="_blank">qui</a>.