<div id="ricerca">
	Calcola incasso:<br/>
	<form method="post" action="{{ app.urlFor('PizzeriaCalcolaIncasso', {'id': pizzeria.IDPizzeria}) }}">
		<label for="ordine">Data</label>
		<select name="DataOrdine" id="ordine">
			<option value=""></option>
			{# Array vuoto che conterrà tutti gli orari trovati per evitare di scrivere più volte la stessa ora #}
			{% set dataOrdine = [] %}
			{% for ordine in ordini %}
				{% if ordine.DataOrdine|date("d/m/Y") not in dataOrdine %}
				
					{% set dataOrdine = dataOrdine|merge([ordine.DataOrdine|date('d/m/Y')]) %}
					
					<option value="{{ ordine.DataOrdine|date("Y-m-d") }}">{{ ordine.DataOrdine|date("d/m/Y") }}</option>
				{% endif %}
			{% endfor %}
		</select><br/>
		
		<input type="submit" value="Calcola">
	</form>
</div>