{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Cliente{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("ClientiAddPost") }}">
	<label for="Nome_Cl">Nome</label>
	<input type="text" name="nome" id="Nome_Cl"/></br>
	
	<label for="Cognome_Cl">Cognome</label>
	<input type="text" name="cognome" id="Cognome_Cl"/></br>

	<input type="submit" value="Aggiungi Cliente">
	
</form>
{% endblock %}