{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Prodotto{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("ProdottiAddPost") }}">
	<label for="Nome_Pr">Nome</label>
	<input type="text" name="nome" id="Nome_Pr"/></br>
	
	<label for="Prezzo_Pr">Prezzo</label>
	<input type="text" name="prezzo" id="Prezzo_Pr"/></br>
	
	<label for="Ingredienti">Ingredienti</label>
	<select multiple="multiple" id="Ingredienti" name="ingredienti[]">
		{% for ingrediente in ingredienti  %}
			<option value="{{ ingrediente.IDIngrediente }}"> {{ ingrediente.Nome_Ing }}</option>
		{% endfor %}
	</select><br/>

	<input type="submit" value="Aggiungi Prodotto">
	
</form>
{% endblock %}