{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Ingrediente{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("PizzerieAddPost") }}"> //bisogna cambiare app.urlFor?
	<label for="Nome">Nome</label>
	<input type="text" name="nome" id="Nome_Ing"/></br>

	<input type="submit" value="Aggiungi Ingrediente">
	
</form>
{% endblock %}