{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Pizzeria{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("PizzerieAddPost") }}">
	<label for="Nome_Pizz">Nome</label>
	<input type="text" name="nome" id="Nome_Pizz"/></br>
	
	<label for="Numero_Tel">Numero telefono</label>
	<input type="text" name="tel" id="Numero_Tel"/></br>
	
	<label for="CAP">CAP</label>
	<input type="text" name="cap" id="CAP"/></br>
	
	<label for="Paese">Paese</label>
	<input type="text" name="paese" id="Paese"/></br>
	
	<label for="Via">Via</label>
	<input type="text" name="via" id="Via"/></br>
	
	<label for="Civico">Numero civico</label>
	<input type="text" name="civico" id="Civico"/></br>
	
	<label for="Asporto">Asporto</label>
	<select name="asporto" id="Asporto">
		<option value="null"></option>
		<option value="true">Sì</option>
		<option value="false">No</option>
	</select></br>
	
	<input type="submit" value="Aggiungi pizzeria">
	
</form>
{% endblock %}