{# Creo l'array che contiene i link per il menu orizzontale. #}
{%
	set links = {
		'Home Page': app.urlFor('HomePage'),
		'Cliente': app.urlFor('Clienti'),
		'Prodotto': app.urlFor('Prodotti'),
		'Ordine': app.urlFor('Ordini'),
		'Ingrediente': app.urlFor('Ingredienti'),
		'Composto Da': app.urlFor('Compostoda'),
		'Pizzerie': app.urlFor('Pizzerie'),
		'Appartiene': app.urlFor('Appartiene')
	}
%}

<ul id="menu">
	{% for key, link in links %}
	    <li><a href="{{ link }}">{{key}}</a></li>
	{% endfor %}
</ul>
<br style="clear:both" />