{% extends 'base.twig' %}

{% block subtitle %}- Ordini Ricerca{% endblock %}

{% block content %}
	<h1>Risultato ricerca</h1>
	{% if ordini %}
		<table border="1px">
			<thead>
				<tr>
					<th>ID Cliente</th>
					<th>ID Prodotto</th>
				</tr>
			</thead>
			<tbody>
				{% for ordine in ordini %}
					<tr>
						<td>{{ ordine.IDCliente }}</td>
						<td>{{ ordine.IDProdotto }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		Nessun ordine trovato.
	{% endif %}
{% endblock %}