{% extends 'base.twig' %}

{% block subtitle %}- Ordini{% endblock %}

{% block content %}
	<a href="{{ app.urlFor("OrdiniAdd") }}">Aggiungi un ordine</a></br>
	{% if ordini %}
		<table border="1px">
			<thead>
				<tr>
					<th>Prodotto</th>
					<th>Prezzo</th>
				</tr>
			</thead>
			<tbody>
				{% for ordine in ordini %}
					<tr>
						<td>{{ ordine.IDCliente }}</td>
						<td>{{ ordine.IDProdotto }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		Nessun ordine effettuato.
	{% endif %}
{% endblock %}